html {
    background-color: burlywood;
    background-image: url(image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 20vw 57vw 20vw;
    grid-template-rows: 20vh 30vh 40vh 10vh;
}
.navBar {
    color: black;
    grid-column: 3/4;
    grid-row: 1/2;
}
.logo {
    width: 90%;
    max-height: 100%;
    max-width: 40%;
    min-height: 30%;
    min-width: 30%;
}
.contentBox {
background-color: black;
grid-column: 2/3;
grid-row: 2/4;
opacity: 60%;
border-radius: 25px;
}

