/*homepage background*/
.homebg {
    background-color: burlywood;
    background-image: url(../Image/homebackground.png);
    /* https://www.freepik.com/free-photo/top-view-cup-coffee-with-roasted-beans_5898344.htm#query=coffee%20cup%20top%20view&position=14&from_view=keyword&track=robertav1_2_sidr%22>Freepik</a>  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/*about background*/
.aboutbg {
  background-image: url(../Image/aboutbackground.jpg);
  /* <a href="https://www.freepik.com/free-photo/fresh-roasted-coffee-beans-cup-burlap_10470884.htm#query=coffee%20bean%20background&position=17&from_view=keyword&track=ais">Image by ededchechine</a> on Freepik  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*main grid*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
  grid-template-rows: 2fr 3fr 4fr 1fr;
  /* 2fr 4fr 1fr */
}

textarea#review {
  height: 80%;
  width: 100%;
  text-overflow: inherit;
  resize: none;
}

img.reviewGif {
  grid-column: 2/4;
  grid-row: 1/4;
  justify-self: center;
  align-self: center;
}

/*the logo on all pages*/
.logo {
  grid-column: 1/3;
  width: 90%;
  max-height: 100%;
  max-width: 40%;
  min-height: 30%;
  min-width: 50%;
}



/*the main content box*/
.contentBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.6);
  grid-column: 2/5;
  grid-row: 2/4;
  min-height: 30%;
  min-width: 30%;
  border-radius: 25px;
  padding: 3%;
}

/* image on the left index */
.contentBox h1,
.contentBox h2 {
  color: white;
  justify-self: center;
  text-align: center;
}

.contentBox img {
  height: 25vw;
}

#mainImg1 {
  grid-row: 2/3;
  grid-column: 1/2;
}

#mainImg2 {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: right;
}

.hometitle {
  grid-row: 1/2;
  grid-column: 2/3;
}

.hometext {
  grid-row: 2/3;
  grid-column: 2/3;
}

#orderButton {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: block;
  height: 3em;
  width: 50%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  background-color: #ece5d1;
  font-size: 1vw;
  margin-bottom: 5em;
}

.orderButton {
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 3em;
  width: 100%;
  padding-bottom: 2em;
}
@media screen and (max-width: 600px) {
#orderButton{
  height: 3em;
  width:100%;
  font-size: 4vw;
}
}

#coffeeMan {
  grid-row: 2/3;
  grid-column: 2/3;
}

@media screen and (max-width: 1000px) {
  #coffeeMan {
    visibility: hidden;
  }

}

.contentBox nav {
  background-color: black;
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  grid-column: 3/4;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #413328;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*content in the aboutpage*/
h1.aboutpagecontent {
  color: white;
  position: relative;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

/*content in the aboutpage*/
h2.aboutpagecontent1 {
  color: white;
  position: relative;
  text-align: center;
  grid-column: 1/4;
  grid-row: 3/4;
  text-justify: center;
}


/*content in the aboutpage*/
h2.aboutpagecontent2 {
  color: white;
  grid-column: 1/4;
  grid-row: 1/2;
  margin: auto;
  width: 60%;
  padding: 5px;
}

.aboutImg {
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 2/3;

}

.aboutImg img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .aboutImg {
    display: none;
  }

  .contentBox .aboutpagecontent2 {
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
    width: 100%;
  }
}

.menubg {
  background-image: url(image/menubg.jpg);
  /* <a href="https://www.freepik.com/free-photo/coffee-beans-white-wooden-background-closeup_9046141.htm#query=coffee%20background&position=31&from_view=keyword&track=ais">Image by pvproductions</a> on Freepik  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-container {
  grid-column: 1/4;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5vw 5vw;
}

.menu-container h1 {
  text-decoration: underline;
  color: white;
  text-align: center;
  grid-column: 1/4;
}
.menutitle1 h2 {
  text-decoration: underline;
  color: white;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

.menutitle2 h2 {
  text-decoration: underline;
  color: white;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

.coffeeitems {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  grid-column: 1/2;
  grid-row: 3/4;
  list-style-type: none;
}

.otheritems {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  grid-column: 2/3;
  grid-row: 3/4;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .menubg{
    height: 170vh;
  }
  .menucontentBox{
    height: 180%;
  }
  .menu-container{
    grid-template-rows: auto;
  }
}
.menucontentBox {
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 2/5;
  grid-row: 2/4;
  min-height: 30%;
  min-width: 30%;
  border-radius: 25px;
  z-index: -1;
  padding: 3%;
}

iframe {
  z-index: 1;
}

.MrBeast {
  opacity: 2.5%;
}

.OrderForm {
  grid-column: 2/5;
  grid-row: 2/4;
  min-height: 30%;
  min-width: 30%;
  border-radius: 25px;
}

.reviewForm {
  position: relative;
  z-index: 2;
  color: white;
}

iframe {
  z-index: 1;
}

.MrBeast {
  opacity: 2.5%;
}

.OrderForm {
  grid-column: 2/5;
  grid-row: 2/4;
  min-height: 30%;
  min-width: 30%;
  border-radius: 25px;
}

.reviewForm {
  position: relative;
  z-index: 2;
  color: white;
}
.ordergrid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
  grid-template-rows: 2fr 3fr 4fr 1fr;
  /* 2fr 4fr 1fr */
}
@media screen and (max-width: 600px) {
 .ordergrid-container{
  grid-template-rows: 2fr 11fr 11fr 1fr;
  }
  }
