html {
    background-color: burlywood;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 20vh 30vh 40vh 10vh;
    /* 2fr 4fr 1fr */
}
.navBar {
    color: black;
    grid-column: 3/4;
    grid-row: 1/2;
}
.logo {
    height: 50%;
}
.backgroundimage{
    
}